<!doctype html>
<html lang="ja">
    <head>
	<meta charset="utf-8">
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<script src="asset/bootstrap/js/bootstrap.bundle.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AI Photo Frame</title>
    </head>
    <body>
        <div class="container">
	    <header class="my-5">
                <p class="text-center fs-1">AI Photo Frame</p>
                <p class="text-center fs-3">Settings</p>
	    </header>
            <div class="my-5 mx-5">
                <div class="row">
                    <div class="col-sm-1 col-lg-3">
                    </div>
                    <div class="col">
                	<ul class="list-group">
                	    <li class="text-center list-group-item">
	        	        Prompt
	        	    </li>
                	{% for l in list %}
                	    <li class="list-group-item list-group-item-action">
                                <div class="my-2">
                	            <input class="form-check-input me-1" type="checkbox" value="">
                	            {{ l }}
                                    <div class="text-end pe-3" style="margin-top:-25px;">
				        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </div>
                                </div>
	        	    </li>
                	{% endfor %}
                	</ul>
                        <div class="text-center">
		    	    <button type="button" class="btn btn-primary my-3 mx-auto">Submit</button>
                        </div>
                    </div>
                    <div class="col-sm-1 col-lg-3">
                    </div>
                </div>
            </div>
	</div>
    </body>
</html>
